<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>444854952778-h6hg8ik3q5pqunrmv5jpve3fbaeunf4n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.444854952778-h6hg8ik3q5pqunrmv5jpve3fbaeunf4n</string>
	<key>API_KEY</key>
	<string>AIzaSyCbGhsaxttbMx-54ucLNXwp6K6Q1pnpT1E</string>
	<key>GCM_SENDER_ID</key>
	<string>444854952778</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anirudhmpai.providerFirebaseTodo</string>
	<key>PROJECT_ID</key>
	<string>todo-firebase-provider-9687</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-firebase-provider-9687.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:444854952778:ios:00e35040e7edb7cee197b3</string>
</dict>
</plist>